.header {
  display: flex;
  height: calc(4 * var(--spacing-unit));
  background-color: var(--primary-color-darken);
  padding: var(--spacing-unit);
}

.logo {
  height: 100%;
}

.signOutButton {
  margin-left: auto;
  margin-top: auto;
  height: 100%;

  font-size: var(--font-size-small);
  background-color: var(--primary-color-darken);
  color: var(--secondary-color);
  font-weight: bold;
  border: none;
  cursor: pointer;
}
