body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul, ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --primary-color-rgb: 175, 82, 222;
  --primary-color: rgb(var(--primary-color-rgb));
  --primary-color-darken-rgb: 124, 30, 171;
  --primary-color-darken: rgb(var(--primary-color-darken-rgb));
  --secondary-color-rgb: 129, 222, 82;
  --secondary-color: rgb(var(--secondary-color-rgb));
  --spacing-unit: 8px;
  --font-size-small: 12px;
  --font-size-normal: 16px;
}
