body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul, ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --primary-color-rgb: 93, 43, 117;
  --primary-color: rgb(var(--primary-color-rgb));
  --accent-color-rgb: 173, 81, 219;
  --accent-color: rgb(var(--accent-color-rgb));
  --spacing-unit: 8px;
  --font-size-normal: 12px;
}
