.container {
  display: grid;
  grid-template-columns: max-content auto;
  grid-template-rows: max-content auto;
  height: 100vh;
}

.header {
  grid-column-start: 1;
  grid-column-end: 3;
  margin-bottom: calc(2 * var(--spacing-unit));
}

.main {
  margin-left: calc(2 * var(--spacing-unit));
}
